{{ partial "header.html" . }}
<section class="section section-intro">
    <div class="container">
        <div class="top">
            <div class="info-content-wide">
                <div class="info-content-description">
                    <h1 class="info-content-title">{{ .Title }}</h1>
                    {{ .Content }}

                    <div>
                        {{ range (.Site.RegularPages.GroupByDate "2006") }}
                        {{ if not (eq .Key "0001") }}
                            <h3>{{ .Key }}</h3>
                            {{ end }}
                            <ul>
                                {{ range (where .Pages "Type" "newsletter") }}
                                    <li>
                                        {{ $newPost := div (sub .PublishDate.Unix 1638480882) 86400 }}
                                        {{ if gt $newPost 0 }}
                                        {{ ((.Params.date.UTC).AddDate 0 0 1).Format "02 Jan" }}
                                        {{ else }}
                                        {{ .PublishDate.Format "02 Jan" }}
                                        {{ end }}
                                        -
                                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        {{ end }}
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}