<div class="container">
    <div class="top">
        <div class="info-content-wide">
            <div class="post-content">
                    <h1 class="info-content-title text-center" style="margin-bottom: 0;">{{ .Title }}</h1>
                <div style="color: #738a94;font-size: 12px;letter-spacing: 0.2px;text-transform: uppercase;text-align: center;padding-top: 0;margin-bottom: 2em;">Delivered on <time datetime="{{ ((.Params.date.UTC).AddDate 0 0 1).Format "2006-01-02" }}">{{ ((.Params.date.UTC).AddDate 0 0 1).Format "02 Jan 2006" }}</time> {{ $author := index .Site.Data.authors (.Params.author | default "default") }}By&nbsp;{{- if $author -}}<a href="/authors/{{ $author.slug }}/">{{ $author.name }}</a>{{- end -}}</div>
{{ .Params.intro | markdownify }}
<hr style="width:100%;border:none;background:#dcdcdc;height:1px;margin:20px 0 0;">
                            <!-- covid card test -->
{{ if .Params.covid1 }}
                            <div style="padding: 0 0 10px 0;font-size: 16px;line-height: 25px;font-family: Helvetica, Arial, sans-serif;color: #333333;font-weight: 700;text-align: center;">

{{ .Params.covid1 | safeHTML }}
</div>
{{ if .Params.covid2 }}
{{ .Params.covid2 | safeHTML}}
<hr style="width:100%;border:none;background:#dcdcdc;height:1px;margin:20px 0 0 0;">
{{ end }}
                            <!-- covid card test -->
{{ end }}

<p style="font-size: 25px;font-family: Helvetica, Arial, sans-serif;color: #333333;text-decoration: underline;text-decoration-color: #ffc900">Markets</p>
{{ .Params.markets | safeHTML }}
{{ .Params.marketcommentary | markdownify }}
<!-- FEATURE SECTION -->
{{if le (len .Content) 13}}{{else}}
<hr style="width:100%;border:none;background:#dcdcdc;height:1px;margin:20px 0 0;">
<p style="font-size: 25px;font-family: Helvetica, Arial, sans-serif;color: #333333;text-decoration: underline;text-decoration-color: #ffc900">Food for thought</p>
{{ if .Params.featureimage.featureimg }}<a href="{{ .Params.featureimage.featureimg | absURL }}" title="Click to view larger version" target="_blank"><img src="{{ .Params.featureimage.featureimg | absURL }}" width="500" border="0" alt="{{ .Params.featureimage.blurb }}" style="display: block; padding: 0; font-family: Helvetica, Arial, sans-serif; color: #333333; width: 500px; margin-left: auto; margin-right: auto;"></a>
<div class="text-center"><span style="font-size: 14px; line-height: 22px; font-family: Helvetica, Arial, sans-serif; color: #333333; font-style:italic">{{ .Params.featureimage.blurb }} <a href="{{ .Params.featureimage.source }}" style="color: #333333; text-decoration: underline;" target="_blank" title="View source">Source</a></span></div>{{end}}
{{ .Content }}
{{end}}
<hr style="width:100%;border:none;background:#dcdcdc;height:1px;margin:20px 0 0;">
<!-- ONE COLUMN W/ BOTTOM IMAGE SECTION -->
<p style="font-size: 25px;font-family: Helvetica, Arial, sans-serif;color: #333333;text-decoration: underline;text-decoration-color: #ffc900">Still hungry?</p>
{{ .Params.stillhungry | markdownify }}

</div></div></div></div>