{{ partial "header.html" . }}

<section class="section section-intro">
    <div class="container">
        <div class="top">
          <div class="image-box reverse-right">
              <img src="{{ "images/icons/brekky-phone.png" | absURL }}" alt="Sample Brekky Wrap" class="hidden-sm" />
          </div>
            <div class="spacer hidden-lg"></div>
            <div class="info-content reverse-left">

<div class="info-content-description">
        <div class="formkit-background" style="opacity: 0;"></div><div data-style="minimal"><div data-element="header" style="color: rgb(62, 68, 78); font-size: 36px; font-weight: 700;"><h1 style="text-align:left">That's a Wrap</h1></div><div class="formkit-subheader" data-element="subheader" style="color: rgb(28, 28, 31); font-size: 16px;"><p style="text-align:left"><span style="color:#1c1c1f">Brekky Wrap has run its natural course and there will be no further issues. Feel free to <a href="/archive">browse our archives</a> or sign up to our new venture instead, <a href="https://thecontext.au/">The Context</a>: A newsletter for the curious.</span></p>

          <div class="text-center"><a href="https://thecontext.au/" class="btn btn-secondary">Visit The Context</a></div>

</div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}